cw_client_service/src/META-INF/wsdl/localhost_8080/Customer_Service/Customer_service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Customer_service">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Customer_Service/Customer_service?xsd=1"/>
</xsd:schema>
</types>
<message name="create_customer">
<part name="parameters" element="tns:create_customer"/>
</message>
<message name="create_customerResponse">
<part name="parameters" element="tns:create_customerResponse"/>
</message>
<message name="delete_customer">
<part name="parameters" element="tns:delete_customer"/>
</message>
<message name="delete_customerResponse">
<part name="parameters" element="tns:delete_customerResponse"/>
</message>
<message name="update_customer">
<part name="parameters" element="tns:update_customer"/>
</message>
<message name="update_customerResponse">
<part name="parameters" element="tns:update_customerResponse"/>
</message>
<message name="display_cus_list">
<part name="parameters" element="tns:display_cus_list"/>
</message>
<message name="display_cus_listResponse">
<part name="parameters" element="tns:display_cus_listResponse"/>
</message>
<portType name="Customer_service">
<operation name="create_customer">
<input wsam:Action="http://ws/Customer_service/create_customerRequest" message="tns:create_customer"/>
<output wsam:Action="http://ws/Customer_service/create_customerResponse" message="tns:create_customerResponse"/>
</operation>
<operation name="delete_customer">
<input wsam:Action="http://ws/Customer_service/delete_customerRequest" message="tns:delete_customer"/>
<output wsam:Action="http://ws/Customer_service/delete_customerResponse" message="tns:delete_customerResponse"/>
</operation>
<operation name="update_customer">
<input wsam:Action="http://ws/Customer_service/update_customerRequest" message="tns:update_customer"/>
<output wsam:Action="http://ws/Customer_service/update_customerResponse" message="tns:update_customerResponse"/>
</operation>
<operation name="display_cus_list">
<input wsam:Action="http://ws/Customer_service/display_cus_listRequest" message="tns:display_cus_list"/>
<output wsam:Action="http://ws/Customer_service/display_cus_listResponse" message="tns:display_cus_listResponse"/>
</operation>
</portType>
<binding name="Customer_servicePortBinding" type="tns:Customer_service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="create_customer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete_customer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_customer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="display_cus_list">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Customer_service">
<port name="Customer_servicePort" binding="tns:Customer_servicePortBinding">
<soap:address location="http://localhost:8080/Customer_Service/Customer_service"/>
</port>
</service>
</definitions>