cw_client_service/xml-resources/web-service-references/employee_ser/wsdl/localhost_8080/employee_service/employee_ser.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="employee_ser">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/employee_service/employee_ser?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="InvalidInputException">
<part name="fault" element="tns:InvalidInputException"/>
</message>
<message name="update_emp">
<part name="parameters" element="tns:update_emp"/>
</message>
<message name="update_empResponse">
<part name="parameters" element="tns:update_empResponse"/>
</message>
<message name="create_employee">
<part name="parameters" element="tns:create_employee"/>
</message>
<message name="create_employeeResponse">
<part name="parameters" element="tns:create_employeeResponse"/>
</message>
<portType name="employee_ser">
<operation name="delete">
<input wsam:Action="http://ws/employee_ser/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://ws/employee_ser/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws/employee_ser/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/employee_ser/loginResponse" message="tns:loginResponse"/>
<fault message="tns:InvalidInputException" name="InvalidInputException" wsam:Action="http://ws/employee_ser/login/Fault/InvalidInputException"/>
</operation>
<operation name="update_emp">
<input wsam:Action="http://ws/employee_ser/update_empRequest" message="tns:update_emp"/>
<output wsam:Action="http://ws/employee_ser/update_empResponse" message="tns:update_empResponse"/>
</operation>
<operation name="create_employee">
<input wsam:Action="http://ws/employee_ser/create_employeeRequest" message="tns:create_employee"/>
<output wsam:Action="http://ws/employee_ser/create_employeeResponse" message="tns:create_employeeResponse"/>
</operation>
</portType>
<binding name="employee_serPortBinding" type="tns:employee_ser">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidInputException">
<soap:fault name="InvalidInputException" use="literal"/>
</fault>
</operation>
<operation name="update_emp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create_employee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="employee_ser">
<port name="employee_serPort" binding="tns:employee_serPortBinding">
<soap:address location="http://localhost:8080/employee_service/employee_ser"/>
</port>
</service>
</definitions>